header{
    background-color: #023b6d;
    height: 2.9rem;
}
header .abc{
    margin-top: -0.5rem;
}
header img{
    height: 1.5rem;
    width: 13rem;
}
header .icon .a{
    position: relative;
    top: 1rem;
}
header .icon{
    color: #819db6;
}

header .icon .a:hover{
    color: white;
}
header .icon .b:hover{
    color: white;
}
header .navbar .button p{
    font-size: 1rem;
    display: flex;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0rem;
    padding: 1rem 0.6rem;
}
header .navbar .button i{
    margin-left: 0.6rem;
    margin-right: -0.5rem;
}
header .navbar .icon2{
    color: #819db6;
}
header .navbar .icon2:hover{
    color: #fff;
}
header .navbar{
    margin-top: -1.1rem;
    
}
